# Dependencies
node_modules/

# Build output
dist/
build/

# Environment
.env
.env.*
!.env.example

#Dependency
backend/package-lock.json
frontend/package-lock.json

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Prisma
backend/prisma/*.db
backend/prisma/*.db-journal

# Docker volumes
pgdata/

# TypeScript
*.tsbuildinfo

# Test coverage
coverage/
